
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: #f3f3f3;
    text-align: center;
}

h1 {
    margin-top: 30px;
    font-size: 2.2rem;
    color: #333;
}


.map-container {
    margin: 40px auto;
    max-width: 1000px;
    width: 90%;
    position: relative;
}

.map-container img {
    width: 100%;
    height: auto;
    display: block;
}


area {
    cursor: pointer;
}


.map-container {
    position: relative;
}

.map-container img {
    display: block;
}

area:hover {
    outline: none;
}


.map-container img:hover {
    filter: brightness(1.03);
}


